.Histogram {
  padding: 15px;
  border-radius: 15px;
  border: 1px solid #000;
  position: relative;
  h3 {
    font-weight: 500;
    margin: 0 0 15px;
    text-align: center;
  }

  &__Bars {
    height: 300px;
    display: flex;
    position: relative;
    align-items: flex-end;

    &__Item {
      margin-right: 4px;
      margin-left: 4px;
      cursor: pointer;
    }
  }

  &__Labels {
    display: flex;

    &__Item {
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      margin-left: 3px;
      margin-right: 3px;
      margin-top: 5px;
      word-break: break-word;
      font-size: 12px;
    }
  }

  &__Hints {
    position: absolute;
    height: calc(100% - 50px);
    top: 0;
    left: 0;
    width: 100%;
    &__Item {
      position: absolute;
      bottom: 0;
      background: white;
      max-width: 250px;
      padding: 8px 15px;
      box-shadow: 1px 1px 5px rgba(0,0,0,.11);
      text-align: center;
      z-index: 5;
      h4 {
        margin: 0;
      }
    }
  }

}

@media (max-width: 768px) {
  .Histogram {
    padding: 10px;

    &__Labels {
      display: none;
    }
    &__Bars {
      &__Item {
        margin-left: 2px;
        margin-right: 1px;
      }
    }
  }
}