.Button {
  max-width: 100%;
  position: relative;
  cursor: pointer;
  text-align: center;
  border-radius: 3px;
  font-size: 14px;
  border: none;
  line-height: 22px;
  padding: 15px 20px;
  transition: all 0.3s ease;
  outline: none;
  color: $dark;
  font-weight: 500;
  background: $primary;
  display: flex;
  align-items: center;
  &._small {
    //padding: 6px 20px;
    svg {
      font-size: 14px;
    }
  }
  &._secondary {
    text-align: center;
    display: block;
    border: 1px solid $dark;
    color: $dark;
    background: transparent;
  }
  svg {
    margin-left: 10px;
    font-size: 16px;
  }
}