.RadioButtons {
  padding-top: 10px;
  p {
    font-size: 22px;
    font-weight: 500;
    margin-bottom: 15px;
  }
  &__Buttons {
    div {
      margin-top: 5px;
      display: flex;
      align-items: center;
      cursor: pointer;
      input, label {
        cursor: pointer;
      }
      label {
        padding-left: 5px;
        padding-top: 2px;
      }
    }
    input[type='radio'] {
    accent-color: $dark;
}
  }
}